@charset "UTF-8";
/* 外层容器 */
.pt-scrollbar-container {
	position: relative;
	overflow: hidden;
	-webkit-user-select:none;
    -moz-user-select:none;
}
/* 悬停 */
.pt-scrollbar-container[pt-scrollbar-hover] .pt-scroll-vertical-rail,
.pt-scrollbar-container[pt-scrollbar-hover] .pt-scroll-horizontal-rail {
	opacity: 0.1;
}
.pt-scrollbar-container[pt-scrollbar-hover] .pt-scroll-vertical-bar,
.pt-scrollbar-container[pt-scrollbar-hover] .pt-scroll-horizontal-bar {
	opacity: 0.5;
}
/* 隐藏 */
.pt-scrollbar-container[pt-scrollbar-hide] .pt-scroll-vertical-rail,
.pt-scrollbar-container[pt-scrollbar-hide] .pt-scroll-vertical-bar,
.pt-scrollbar-container[pt-scrollbar-hide] .pt-scroll-horizontal-rail,
.pt-scrollbar-container[pt-scrollbar-hide] .pt-scroll-horizontal-bar {
	display: none;
}
/* 内容区 */
.pt-scrollbar-container [pt-scrollbar-container-index] {
	overflow: hidden;
}
/* 垂直滑轨 */
.pt-scrollbar-container .pt-scroll-vertical-rail {
	z-index: 100;
	position: absolute;
	width: 6px;
	border-radius: 4px;
	height: 100%;
	background: #000;
	opacity: 0;
    transition: opacity 0.15s;
}
/* 垂直滑块 */
.pt-scrollbar-container .pt-scroll-vertical-bar {
	z-index: 101;
	position: absolute;
    width: 6px;
    border-radius: 4px;
    background: #000;
    opacity: 0;
    cursor: pointer;
    transition: opacity 0.15s;
}
/* 水平滑轨 */
.pt-scrollbar-container .pt-scroll-horizontal-rail {
	z-index: 100;
	position: absolute;
	height: 6px;
	border-radius: 4px;
	width: 100%;
	background: #000;
	opacity: 0;
    transition: opacity 0.15s;
}
/* 水平滑块 */
.pt-scrollbar-container .pt-scroll-horizontal-bar {
	z-index: 101;
	position: absolute;
    height: 6px;
    border-radius: 4px;
    background: #000;
    opacity: 0;
    cursor: pointer;
    transition: opacity 0.15s;
}